#site_preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1b23;
  z-index: 10000;
}
#site_preloader > .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  margin-top: -21px;
  font-size: 0;
}
#site_preloader > .loader > .cell {
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 20px;
}
#site_preloader > .loader > .cell:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-animation: keyframe_site_preloader_cell 2s linear 0s infinite;
          animation: keyframe_site_preloader_cell 2s linear 0s infinite;
}
#site_preloader > .loader > .cell:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation: keyframe_site_preloader_cell 2s linear 0.5s infinite;
          animation: keyframe_site_preloader_cell 2s linear 0.5s infinite;
}
#site_preloader > .loader > .cell:nth-child(3) {
  bottom: 0;
  right: 0;
  -webkit-animation: keyframe_site_preloader_cell 2s linear 1s infinite;
          animation: keyframe_site_preloader_cell 2s linear 1s infinite;
}
#site_preloader > .loader > .cell:nth-child(4) {
  bottom: 0;
  left: 0;
  -webkit-animation: keyframe_site_preloader_cell 2s linear 1.5s infinite;
          animation: keyframe_site_preloader_cell 2s linear 1.5s infinite;
}
@-webkit-keyframes keyframe_site_preloader_cell {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes keyframe_site_preloader_cell {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
