#site_preloader
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background-color #1a1b23
	z-index 10000

	& > .loader
		position absolute
		left 50%
		top 50%
		width 42px
		height 42px
		margin-left -21px
		margin-top -21px
		font-size 0

		& > .cell
			position absolute
			background-color white
			width 20px
			height 20px

			&:nth-child(1)
				top 0
				left 0
				animation keyframe_site_preloader_cell 2s linear 0s infinite
			&:nth-child(2)
				top 0
				right 0
				animation keyframe_site_preloader_cell 2s linear 0.5s infinite
			&:nth-child(3)
				bottom 0
				right 0
				animation keyframe_site_preloader_cell 2s linear 1s infinite
			&:nth-child(4)
				bottom 0
				left 0
				animation keyframe_site_preloader_cell 2s linear 1.5s infinite

@keyframes keyframe_site_preloader_cell
	0%
		transform:scale(1)
	50%
		transform:scale(0.5)
	100%
		transform:scale(1)